@import "tailwindcss";

@theme {
  --color-red-500: #ef4444;
  --color-red-400: #f87171;
  --color-red-600: #dc2626;
  --color-rose-500: #f43f5e;
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
  --color-zinc-500: #71717a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-100: #f4f4f5;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
